users/*
balanceLogs/*
temp/*
oldFiles/*
botsettings.json
startserver/*
__pycache__/*
.vscode/*
start.sh
balanceLog.txt
previousCgs.json
balanceLogs.txt
questionData.json
ignore/
mcdata.txt
mcpgdata.json
.env
pingservers.json
mcdata.json
questionData.json
questionBank.csv
